#
# Cobalt Strike Kit - Configuration
#
# (c) 2012-2025 Fortra, LLC and its group of companies. All trademarks and registered trademarks are the property of their respective owners.
#
# This configuration is used by the build script to adjust settings
###################################################################

## Common Variables (Do not change)
cwd=`pwd`
dist_directory=dist

## What kits do you want to build?
include_artifact_kit="true"
include_udrl_kit="false"
include_sleepmask_kit="false"
include_process_inject_kit="false"
include_resource_kit="false"
include_mimikatz_kit="false"

## Reflective Loader Size in KB
# Valid values are 0, 5, and 100
#
# For Cobalt Strike version 4.8 and earlier the value 0 is the same as 5
# For Cobalt Strike version 4.9 and later the value 0 indicates you want
# a beacon dll without a reflective loader to be used with a prepended
# loader (sRDI/Double Pulsar).
#
# This setting affects the urdl_kit and artifact_kit.  The recommendation
# is to use either the value of 5 or 100.  The reason is the udrl_kit
# only supports the stomped "Stephen Fewer" style loader which requires
# the value of 5 or 100.  The artifact_kit only uses this information to
# validate that the artifactkit_stage_size is a minimum size or larger.
# The value of 0 or 5 uses the same minimum size while the value of 100
# uses a larger size.
rdll_size=100

#### Artifact kit options

# Artifact technique (see readme in Artifact for details)
# Only specify a single bypass technique for the arsenal kit, no spaces are allowed.
# Options are: mailslot, peek, pipe, readfile, readfile-v2, template
artifactkit_technique="pipe"

# Artifact reflective loader allocator
# Set how the artifact allocates memory for the reflective loader.
# Options are: HeapAlloc, VirtualAlloc, and MapViewOfFile
artifactkit_allocator="HeapAlloc"

# Artifact stage_size 
# 5kb   User Defined Reflective Loader size: 372581
# 100kb User Defined Reflective Loader size: 494068
# Choose the size based on the rdll_size setting.
# Note if using a prepended loader (sRDI/Double Pulsar) the size needs to
# include the loader and beacon sizes, which likely will be larger than the
# 5kb size.
artifactkit_stage_size=494068

# Add the resource.rc to the .exe or .dll payloads?
# The resoucre.rc adds binary metadata and icon
artifactkit_include_resource="true"

# Compile stack spoofing av bypass technique ?
# For additional information see: kits/artifact/README_STACK_SPOOF.md
# This uses the Microsoft Fiber functions to implement stack spoofing.
# This is not compatible with the evasive_sleep capabilities provided
# by the sleep mask kit.
artifactkit_stack_spoof="true"

# Artifacts will use the standard windows api or the specified system call method
# using one of the following:
#    none                - artifacts will use standard windows api functions
#    embedded            - artifacts will use syscalls using the embedded
#                          method.  This method will likely be signatured
#                          by AV products.
#    indirect            - artifacts will use syscalls using the indirect
#                          method.
#    indirect_randomized - artifacts will use syscalls using the indirect
#                          randomized method.
# Options are: none, embedded, indirect, indirect_randomized
artifactkit_syscalls_method="none"

#### Sleepmask kit options

# NOTE: The evasive sleep capabilities can only be enabled by modifying
#       code in the Sleepmask code.
#       For additional information see: kits/sleepmask/README.md

# Sleepmask Sleep method for the default beacon type
# Set which function to use when sleeping
# Options are: Sleep, WaitForSingleObject
#   Sleep should be used when artifactkit_stack_spoof is set to true to
#   allow for the hook on Sleep to work.
sleepmask_sleep_method="Sleep"

# Sleepmask will use the standard windows api or the specified system call
# method when masking the text section of beacon.
#
# Supported system call methods:
#    none                - sleepmask will use standard windows api functions
#    embedded            - sleepmask will use syscalls using the embedded
#                          method.
#    indirect            - sleepmask will use syscalls using the indirect
#                          method.
#    indirect_randomized - sleepmask will use syscalls using the indirect
#                          randomized method.
#    beacon              - sleepmask will use syscalls information provided
#                          by the BeaconGetSyscallInformation API
# Options are: none, embedded, indirect, indirect_randomized, beacon
sleepmask_syscalls_method="none"

#################################
# Probably shouldn't change these

#### Artifact Kit

artifactkit_directory="${cwd}/kits/artifact"
artifactkit_dist_directory="${cwd}/${dist_directory}/artifact"

#### UDRL Kit
udrl_directory="${cwd}/kits/udrl"
udrl_dist_directory="${cwd}/${dist_directory}/udrl"

#### Sleepmask Kit
sleepmask_directory="${cwd}/kits/sleepmask"
sleepmask_dist_directory="${cwd}/${dist_directory}/sleepmask"

#### Process Inject Kit

process_inject_directory="${cwd}/kits/process_inject"
process_inject_dist_directory="${cwd}/${dist_directory}/process_inject"

#### Resource Kit
resource_kit_directory="${cwd}/kits/resource"
resource_kit_dist_directory="${cwd}/${dist_directory}/resource"

#### Mimikatz Kit
mimikatz_kit_directory="${cwd}/kits/mimikatz"
mimikatz_kit_dist_directory="${cwd}/${dist_directory}/mimikatz"
